
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_OtelVitrin.cshtml";
}
    <!-- //w3l-header -->
    <section class="w3l-breadcrumb">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3">
                <h2>Hakkımızda</h2>
                <p><a href="/Anasayfa/Index">Anasayfa</a> &nbsp; / &nbsp; Hakkımızda</p>
            </div>
        </div>
    </section>
    <div class="w3l-about-us best-rooms py-5">
        <div class="container py-lg-5 py-sm-4">
            <div class="maghny-gd-1">
                <div class="row about-text">
                    <div class="col-lg-6">
                        <h3 class="title-big">
                          En Sessiz,En Sakin,Doğayla İç İçe Tatil için.. 
                        </h3>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            Villalarımız Avrupa Standartlarına Göre Hijyen Koşullarına Uygun Biçimde Temizlenir Ve Hazılanır.
                            20 Yıllık Tecrübemizle Siz Misafirlerimize Sorunsuz Tatil İçin Koşullarımızı Her Geçen Gün Güncellemekteyiz..
                        </p>
                        <p class="mt-3">
                            Güler Yüzlü Personellerimiz,Memnuniyet Odaklı Hizmet Anlayışımızla Misafirlerimize Her Zaman En İyiyi Sunarız.
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="maghny-gd-1 col-lg-4 col-md-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/hotels-starter/assets/images/about1.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>Ferah & Geniş Odalarımız</h4>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-lg-4 col-md-6 mt-md-0 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/hotels-starter/assets/images/about2.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>Oda Temizlik Hizmetleri</h4>
                                        <p>7/24 Hizmet</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-0 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/hotels-starter/assets/images/about3.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>Balayı Suitleri</h4>
                                        <p>Konsept Ve Süsleme Hizmetleri</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="w3-about-2" id="features">
        <div class="w3-services-ab py-5">
            <div class="container py-lg-4 py-md-3">
                <div class="title-section">

                    <div class="title-line">
                    </div>
                </div>
                <div class="row w3-services-grids">
                    <div class="col-lg-9 w3-services-right-grid pl-lg-5 mx-auto">
                        <h4 class="mb-md-5 mb-4">Kendiniz İçin Birşey Yapın, Haydi ! Tatile Çıkın</h4>
                        <div class="fea-gd-vv row">
                            <div class="col-md-6">
                                <div class="float-lt feature-gd">
                                    <div class="icon"> <span class="fa fa-file-text-o" aria-hidden="true"></span></div>
                                    <div class="icon-info">
                                        <h5>Villalarımızın Özellikleri</h5>
                                        <p>
                                            Buzdolabı, Bulaşık makinesi, Çamaşır makinesi, Fırın, 4’lü Ocak (ankastre), Mikrodalga fırın, Elektrikli su ısıtıcı, Kahve Makinası, Tost Makinası, 6 kişilik yemek takımı, Su Sebili, Tava, Tencereler, Çatal bıçak,Mama Sandalyesi vb Bulunmaktadır. 
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-4">
                                <div class="float-mid feature-gd">
                                    <div class="icon"> <span class="fa fa-trophy" aria-hidden="true"></span></div>
                                    <div class="icon-info">
                                        <h5>Temizlik Ve Bakım Hizmetleri</h5>
                                        <p>
                                            Villa Size Teslim Edilmeden Önce Temizlik Yapılır Ve Siz Tatilinizi Yaparken Ve Haftada 1 Defa Temizlik İşleriniz Halledilir. Böylece Siz Tatilinizin Tadını Çıkartırken Temizlikle Uğraşmak Zorunda Kalmazsınız.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 pt-md-2">
                                <div class="float-rt feature-gd">
                                    <div class="icon"> <span class="fa fa-clone" aria-hidden="true"></span></div>
                                    <div class="icon-info">
                                        <h5>WI-FI</h5>
                                        <p>
                                        Son Teknoloji İnternet Alt Yapısı İle Hem Tatilin Hemde İnternetin keyfini Doyasıya Yaşayın...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 pt-md-2">
                                <div class="float-lt feature-gd">
                                    <div class="icon"> <span class="fa fa-bullseye" aria-hidden="true"></span></div>
                                    <div class="icon-info">
                                        <h5>Havuz Keyfini Doyasıya Yaşayın!</h5>
                                        <p>
                                         Sürekli Olarak Yenilenen Ve Temizlenen Havuzumuzda Tatile Ve Keyif Dolu Dakikalara Dalış Yapın..
                                        </p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team -->
    <!-- team -->

    <section class="w3l-stats">
        <div class="main-w3 py-5">
            <div class="container py-lg-3">
                <div class="row align-items-center">
                    <div class="col-lg-6 title">
                        <h3 class="title-big">Villanız Sizleri Bekliyor!</h3>
                        <p class="mt-4">
                            Begonvil Villaları olarak unutulmaz bir tatil deneyiminin öncelikle harika bir lokasyon seçimini gerektirdiğinin farkındayız. Ne de olsa bulunduğunuz yerin iklimi, güvenilirliği, civarda gezilebilecek turistik alanlar, tarihi ve doğal güzellikler, plajlar ve çok daha fazlası, tatil ruhunun en özgür şekilde hissedilebilmesine olanak tanıyor.
                            Bizler de sizler için sunduğumuz geniş ve çeşitli özelliklere sahip olan lüks villa seçeneklerinin Antalya’nın en ayrıcalıklı bölgesinde konumlanmasını önemsedik:kiralık villa konaklama seçenekleri, doğa ile iç içe unutulmaz bir deneyim yaşatacak. Sadece kaldığınız alanın lüks olanakları değil, aynı zamanda benzersiz manzaranız ve Akdeniz ikliminin dinlendirici havası, sizin için harika bir tatil anlamına gelecek.
                        </p>
                    </div>
                    @Html.Action("İstatistik", "Default")

                </div>

            </div>
        </div>
    </section>
