<div class="col-lg-6 main-cont-wthree-fea text-center">
    <div class="row">
        <div class="col-6 pr-2 mt-4">
            <div class="grids-speci1">
                <span class="fa fa-users"></span>
                <h3 class="title-spe">1200+</h3>
                <p>Mutlu Müşteri</p>
            </div>
        </div>
        <div class="col-6 pl-2 mt-4">
            <div class="grids-speci1">
                <span class="fa fa-camera"></span>
                <h3 class="title-spe">180+</h3>
                <p>Mutluluk Dolu Resim</p>
            </div>
        </div>
        <div class="col-6 pr-2 mt-4">
            <div class="grids-speci1">
                <span class="fa fa-briefcase"></span>
                <h3 class="title-spe">158</h3>
                <p>Yeni Üye</p>
            </div>
        </div>
        <div class="col-6 pl-2 mt-4">
            <div class="grids-speci1">
                <span class="fa fa-comments"></span>
                <h3 class="title-spe">9.8/10</h3>
                <p>Müşteri Puanları</p>
            </div>
        </div>
    </div>
</div>
