
@{
    Layout = null;
}
@*Author URL: http://w3layouts.com*@


<!DOCTYPE html>
<html>
<head>
    <title>Villa Rezervasyon Paneli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Error Page Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
    <link href="~/hotels-starter/Rezervasyon/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/hotels-starter/Rezervasyon/css/bootstrap.css" rel='stylesheet' type='text/css' media="all">
    <script src="~/hotels-starter/Rezervasyon/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/hotels-starter/Rezervasyon/js/move-top.js"></script>
    <script type="text/javascript" src="~/hotels-starter/Rezervasyon/js/easing.js"></script>
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
    </script>
</head>
<body>
    <div class="header">
        <h1>Villa Rezervasyon Sayfası</h1>
    </div>

    <div class="banner-top">
        <h2>Hemen Rezervasyon Yap!</h2>
        <form method="post">
            <div class="banner-bottom">
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Giriş Tarihi</p>
                    </div>
                    <div class="bnr-right">
                        <input type="date" name="GirisTarih" required="" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Çıkış Tarihi</p>
                    </div>
                    <div class="bnr-right">
                        <input type="date" name="CikisTarih" required="" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Ad Soyad</p>
                    </div>
                    <div class="bnr-right">
                        <input type="text" name="RezervasyonAdSoyad" class="form-control"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Telefon</p>
                    </div>
                    <div class="bnr-right">
                        <input type="text" name="Telefon" class="form-control"/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bnr-one">
                        <div class="bnr-left">
                            <p>Açıklama</p>
                        </div>
                        <div class="bnr-right">
                            <textarea name="Aciklama" rows="4" cols="42" class="form-control"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Kişi Sayısı</p>
                    </div>
                    <div class="bnr-right">
                        <input type="number" class="form-control" value="0" name="Kisi"  />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Villa Türü</p>
                    </div>
                    <div class="bnr-right">
                        <select>
                            <option value="volvo">Seçiniz</option>
                            <option value="saab">Tek Kişilik</option>
                            <option value="opel">Çift Kişilik</option>
                            <option value="audi">Aile Villası</option>
                            <option value="audi">Suite Villa</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-btn">

                    <input type="submit" value="Rezervasyon Yap" class="form-control">

                </div>
            </div>
        </form>
        <!---start-date-piker---->
        <link rel="stylesheet" href="~/hotels-starter/Rezervasyon/css/jquery-ui.css" />
        <script src="~/hotels-starter/Rezervasyon/js/jquery-ui.js"></script>
       
        <!---/End-date-piker---->
    </div>
    <br />  
    <div class="footer" style="color:white">
        <p style="color:white">Copyright © CakirSoft. | All Rights Reserved | Design by <a href="http://www.softcakir.com" target="_blank">CakirSoft Software Solutions</a></p>
    </div>
</body>
</html>
