
@{
    ViewBag.Title = "Hizmetler";
    Layout = "~/Views/Shared/_OtelVitrin.cshtml";
}

<html lang="en">

<body>
    <!--w3l-header-->


    <!-- //w3l-header -->
    <section class="w3l-breadcrumb">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3">

                <h2>Hizmetlerimiz</h2>
                <p><a href="index.html">AnaSayfa</a> &nbsp; / &nbsp; Hizmetlerimiz</p>

            </div>
        </div>
    </section>
    <!--  services section -->
    <section class="w3l-servicesblock1" id="service">
        <div class="features-with-17_sur py-5">
            <div class="container py-lg-5 py-sm-4">
                <div class="features-with-17-top_sur">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 align-self">
                            <h3 class="title-small">Özel Villa'da Tatil Hizmetleri</h3>
                            <p>
                               Bütün Odalarımızda Buzdolabı,Televizyon,Ankastre Seti,Fırınlı Ocak,Banyo,sıcak Duş, Gibi Bileşenlerin 
                                Tamamı Bulunmaktadır.7/24 Oda Hizmetlerini Arayabilirsiniz.
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-bed" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Yaşam Alanı</h5>
                                    <h6><a href="#url">Yüzme Havuzu</a></h6>
                                    <p>
                                     Her Villaya Özel Havuz & Şezlong Hizmetimiz Ve Yaşam Alanlarında Barbekü Ve Bahçe Mobilyaları Bulunmaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-lg-0 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-beer" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Yemek & İçecek</h5>
                                    <h6><a href="#url">Restaurant Ve Bar</a></h6>
                                    <p>
                                    Konseptimiz Apart Villa Olduğu İçin Yemekler Ve İçecekler Fiyata Dahil Değildir.
                                    İstenmesi Durumunda Resepsiyondan Yada Barımızdan Temin Edebilirsiniz.
                                    Restaurantımız Saat:10.00 & Saat:22:00 Arası Barımız İse Saat:22:00 & Saat:02:00 Arası Hizmet Vermektedir.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-wifi" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Ekstra Hizmetler</h5>
                                    <h6><a href="#url">Yüksek Hızda WiFi Ve İnternet</a> </h6>
                                    <p>
                                      Tatilde Bile İşinizi Devam mı Ettirmek İstiyorsunuz ? 
                                      O zaman Villalarımız Tam size Göre. Yüksek Hızda İnternet Alt Yapısıyla Tatilde Bile İşleriniz Yarım Kalmasın. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-bed" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Rahatınız Bizim Önceliğimiz</h5>
                                    <h6><a href="#url">Son Sistem Mobilyalar</a> </h6>
                                    <p>
                                     Son Sistem Mobilyalarımız Ve Son Sistem Yataklarımız İle Dinlendiğinizin Farkına Varacaksınız.  
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-car" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Otopark</h5>
                                    <h6><a href="#url">Güvenli Hizmet</a> </h6>
                                    <p>
                                    Tesisimiz 7/24 Güvenlik Kameraları Ve Park Yeri Güvenlik Kameralarıyla İzlenmektedir.
                                    Ve 50 Araçlık Park Yerimiz Bulunmaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-stats">
        <div class="main-w3 py-5">
            <div class="container py-lg-3">
                <div class="row align-items-center">
                    <div class="col-md-6 title">
                        <h3 class="title-big">Tesisimizin İmkanları</h3>
                        <img src="~/hotels-starter/assets/images/facilities.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 main-cont-wthree-fea text-center">
                        <div class="row">
                            <div class="col-6 pr-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-television"></span>
                                    <h3 class="title-spe">Tv</h3>
                                    <p>Android Tv'ler İle İstediğiniz Dakika İstediğinizi İzleyebilirsiniz.</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-car"></span>
                                    <h3 class="title-spe">Otopark</h3>
                                    <p>50 Araçlık Otopark</p>
                                </div>
                            </div>
                            <div class="col-6 pr-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-wifi"></span>
                                    <h3 class="title-spe">WIFI</h3>
                                    <p>Sınırsız Ve Fiber İnternet</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-bed"></span>
                                    <h3 class="title-spe">Oda Hizmetleri</h3>
                                    <p>7/24 Resepsiyon Hizmeti</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="w3l-feature-2">
        <div class="grid top-bottom py-5">
            <div class="container py-md-5">
                <h3 class="title-big text-center">Odalarımız Sizleri Düşünerek Dizayn Edildi</h3>
                <div class="middle-section row mt-lg-5 pt-md-3">
                    <div class="three-grids-columns col-lg-4 col-md-6">
                        <img src="~/hotels-starter/assets/images/slide1.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4><a href="#url">Aile Odaklı Geniş Dizaynlı Yatak Odaları</a></h4>
                            <p>
                             Ebeveyn Banyolu & Bebek Karyolalı Odalarımızda Minik Misafirlerimizin de Rahatı Bizimİçin Çok Önemlidir.
                            </p>
                            <a href="/Hizmetler/Hizmetler" class="btn mt-4">Hizmetlerimiz Hakkında</a>
                        </div>
                    </div>
                    <div class="three-grids-columns col-lg-4 col-md-6 mt-md-0 mt-4">
                        <img src="~/hotels-starter/assets/images/slide2.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4> <a href="#url">Toplantı Ve Organizasyonlar</a></h4>
                            <p>
                              Toplantı,İş Seyahatleri,Düğün,Nişan,Kına,AfterParty Gibi Organizasyonlarınızda Size Eşlik Etmek Bizim İçin Mutluluktur.
                            </p>
                            <a href="/Hizmetler/Hizmetler" class="btn mt-4">Hizmetlerimiz Hakkında</a>
                        </div>
                    </div>
                    <div class="three-grids-columns col-lg-4 col-md-6 mt-lg-0 mt-4">
                        <img src="~/hotels-starter/assets/images/slide3.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4> <a href="#url">Havuz Ve Deniz</a></h4>
                            <p>
                                Her Villamızda Özel Havuz Bulunmaktadır. Sahile Gitmek İsteyen Müşterilerimiz İçin İse Sahile Uzaklığımız 1Km'dir.
                            </p>
                            <a href="/Hizmetler/Hizmetler" class="btn mt-4">Hizmetlerimiz Hakkında</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section> 
</body>

</html>

