
@{
    ViewBag.Title = "Hizmetler";
    Layout = "~/Views/Shared/_OtelVitrin.cshtml";
}

<html lang="en">

<body>
    <!--w3l-header-->


    <!-- //w3l-header -->
    <section class="w3l-breadcrumb">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3">

                <h2>Our Services</h2>
                <p><a href="index.html">Home</a> &nbsp; / &nbsp; Services</p>

            </div>
        </div>
    </section>
    <!--  services section -->
    <section class="w3l-servicesblock1" id="service">
        <div class="features-with-17_sur py-5">
            <div class="container py-lg-5 py-sm-4">
                <div class="features-with-17-top_sur">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 align-self">
                            <h3 class="title-small">Luxury Hotel Services</h3>
                            <p>
                                Our rooms are beautifully designed and comfortable and can accommodate various groups of
                                travelers. All rooms have private bathrooms, a flat-screen TV and a safe.
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-bed" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Fitness Zone</h5>
                                    <h6><a href="#url">Swimming Pool</a></h6>
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Id, minima. It is a long fact that a reader will be
                                        distracted by the readable.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-lg-0 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-beer" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Food & Drinks</h5>
                                    <h6><a href="#url">Restaurant and Bar</a></h6>
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Id, minima. It is a long fact that a reader will be
                                        distracted by the readable.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-wifi" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Accommodation</h5>
                                    <h6><a href="#url">High speed WiFi</a> </h6>
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Id, minima. It is a long fact that a reader will be
                                        distracted by the readable.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-bed" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Comfort & Relax</h5>
                                    <h6><a href="#url">SPA & Wellness</a> </h6>
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Id, minima. It is a long fact that a reader will be
                                        distracted by the readable.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-headphones" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Safe & Secure </h5>
                                    <h6><a href="#url">Staff 24/7</a> </h6>
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Id, minima. It is a long fact that a reader will be
                                        distracted by the readable.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-stats">
        <div class="main-w3 py-5">
            <div class="container py-lg-3">
                <div class="row align-items-center">
                    <div class="col-md-6 title">
                        <h3 class="title-big">Our Hotel Facilities</h3>
                        <img src="~/hotels-starter/assets/images/facilities.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 main-cont-wthree-fea text-center">
                        <div class="row">
                            <div class="col-6 pr-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-television"></span>
                                    <h3 class="title-spe">Tv</h3>
                                    <p> Satellite</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-motorcycle"></span>
                                    <h3 class="title-spe">Bike</h3>
                                    <p>Rental</p>
                                </div>
                            </div>
                            <div class="col-6 pr-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-cutlery"></span>
                                    <h3 class="title-spe">Food</h3>
                                    <p>Included</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-bed"></span>
                                    <h3 class="title-spe">Bed</h3>
                                    <p>King size</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="w3l-feature-2">
        <div class="grid top-bottom py-5">
            <div class="container py-md-5">
                <h3 class="title-big text-center">Our Rooms are beautifully designed</h3>
                <div class="middle-section row mt-lg-5 pt-md-3">
                    <div class="three-grids-columns col-lg-4 col-md-6">
                        <img src="~/hotels-starter/assets/images/slide1.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4><a href="#url"> Restaurant and Bar</a></h4>
                            <p>
                                Vestibulum ante ipsum primis in orci luctus et ultrices posuere cubilia Curae; Nulla
                                mollis dapibus nunc.
                            </p>
                            <a href="services.html" class="btn mt-4">Read More </a>
                        </div>
                    </div>
                    <div class="three-grids-columns col-lg-4 col-md-6 mt-md-0 mt-4">
                        <img src="~/hotels-starter/assets/images/slide2.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4> <a href="#url"> Meetings and Events </a></h4>
                            <p>
                                Vestibulum ante ipsum primis in orci luctus et ultrices posuere cubilia Curae; Nulla
                                mollis dapibus nunc.
                            </p>
                            <a href="services.html" class="btn mt-4">Read More </a>
                        </div>
                    </div>
                    <div class="three-grids-columns col-lg-4 col-md-6 mt-lg-0 mt-4">
                        <img src="~/hotels-starter/assets/images/slide3.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4> <a href="#url"> Spa and Wellness </a></h4>
                            <p>
                                Vestibulum ante ipsum primis in orci luctus et ultrices posuere cubilia Curae; Nulla
                                mollis dapibus nunc.
                            </p>
                            <a href="services.html" class="btn mt-4">Read More </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section> 
</body>

</html>

