
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OtelVitrin.cshtml";
}
<!doctype html>
<html lang="en">

<body>
    <!--w3l-header-->

    <!-- //w3l-header -->
    <!-- main-slider -->
    <section class="w3l-main-slider" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>
                                           Akdeniz'in Kalbinde Doğayla İç İçe Huzuru Keşfedin ! 
                                        </h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmetler">
                                         İncele!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Yepyeni Ailenize Özel Villa Deneyimini Ve Villanıza Özel Havuz Deneyimini Keşfedin.</h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmetler">
                                            İncele!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>
                                         Doğa İle İç İçe Çam Ormanları Arasında Yürüyüş Keyfini Sürün.
                                        </h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmetler">
                                           İncele!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>7 Gün 24 Saat Servis Hizmeti,Uygun Fiyatlarla Konforlu Tatilin Keyfini Size Özel Villanızda Yaşayın!</h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmetler">
                                           İncele!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <!-- /main-slider -->
    <section class="w3l-availability-form" id="booking">
        <!-- /w3l-availability-form-section -->
        <div class="w3l-availability-form-main py-5">
            <div class="container pt-lg-3 pb-lg-5">
                <div class="forms-top">
                    <div class="form-right">
                        <div class="form-inner-cont">
                            <h3 class="title-small">Check Availability</h3>
                            <form action="search-results.html" method="post" class="signin-form">
                                <div class="row book-form">
                                    <div class="form-input col-md-4 col-sm-6 mt-3">
                                        <label>Check-in Date</label>
                                        <input type="date" name="" placeholder="Date" required="">
                                    </div>
                                    <div class="form-input col-md-4 col-sm-6 mt-3">
                                        <label>Check-out Date</label>
                                        <input type="date" name="" placeholder="Date" required="">
                                    </div>
                                    <div class="form-input col-md-4 col-sm-6 mt-3">
                                        <label>Adults</label>
                                        <select class="selectpicker">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                        </select>

                                    </div>
                                    <div class="form-input col-md-4 col-sm-6 mt-3">
                                        <label>Children</label>
                                        <select class="selectpicker">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                        </select>

                                    </div>
                                    <div class="form-input col-md-4 col-sm-6 mt-3">
                                        <label>Price </label>
                                        <input type="text" name="" placeholder="Max Price ($)" required />
                                    </div>
                                    <div class="bottom-btn col-md-4 col-sm-6 mt-3">
                                        <label>Check availability </label>
                                        <button class="btn btn-style btn-primary w-100 px-2">Check Availability</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //w3l-availability-form-section -->
    <!-- about -->
    <section class="w3l-about py-5">
        <div class="container py-sm-4">
            <div class="row">
                <div class="col-lg-6 about-left mb-md-0 mb-5">
                    <h3 class="title-big">Doğayla İç İçe Konfor Ve Huzuru Keşfedin !</h3>
                    <h5>Müşterilerimiz Bizim Misafirlerimizdir.</h5>
                    <p class="mt-3">
                     Villalarımızda Kalan Her Birey Bizim İçin Müşteri Değil Misafirdir.Misafirlerimizin Buradan Memnun Ayrılması,Villalarımızı Çevresindeki Kişilere
                     Önermesi Bizim İçin En Büyük Kazanımdır.Çocuk Dostu Otelimiz,Villaya Özel Havuzlarımız,7/24 Oda Servisi,Otopark, Wifi Gibi İmkanlarıyla Sizleri De Tatil İçin
                        Bizlere Misafir Olmaya Bekliyoruz.
                    </p>
                    <a href="/Hizmetler/Hizmetler" class="btn btn-style btn-primary mt-sm-5 mt-4">Hakkımızda</a>
                </div>
                <div class="col-lg-6 about-right position-relative mt-lg-0 mt-5">
                    <img src="~/hotels-starter/assets/images/top.jpg" alt="" class="img-fluid img-border mt-4" />
                    <img src="~/hotels-starter/assets/images/bottom.jpg" alt="" class="img-fluid position-absolute img-position" />
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <div class="best-rooms py-5">
        <div class="container py-lg-5 py-sm-4">
            <h3 class="title-big text-center">Odalarımız</h3>
            <div class="ban-content-inf row py-lg-3">
                <div class="maghny-gd-1 col-lg-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily">
                            <img class="img-fluid" src="~/hotels-starter/assets/images/room1.jpg" alt="">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4 class="top-text">
                                      Lüx Villa
                                        <span>Lüx Havuzlu 2 Kişilik</span>
                                    </h4>
                                    <p>Gecelik 2000₺</p>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="room-info">
                            <h3 class="room-title"><a href="room-single.html">Lüx Havuzlu 2 Kişilik Villa</a></h3>
                            <ul class="mb-3">
                                <li><span class="fa fa-users"></span> 2 Kişi</li>
                                <li><span class="fa fa-bed"></span> Double Yatak</li>
                                <li><span class="fa fa-bed"></span>3m*5m</li>
                            </ul>
                            <p>
                             Villamızda İnternet,Klima,24 Saat Sıcak Su,Villaya Özel Havuz,Barbekü Ve mutfak Gereçleri Bulunmaktadır.
                            </p>
                            <a href="/Rezervasyon/Index" class="btn btn-style btn-primary mt-sm-4 mt-3">Rezervasyon Yap</a>
                        </div>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                    <div class="row">
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room2.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>Standart Villa</h4>
                                            <p>2500₺</p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room3.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>Çift Yatak Odalı Villa</h4>
                                            <p>3000₺</p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6 mt-4">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room4.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>Ultra Lüx Villa</h4>
                                            <p>4000₺</p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6 mt-4">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room5.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>Resort Villa</h4>
                                            <p>5000₺</p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="w3l-index3">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3">
                <div class="row">
                    <div class="col-lg-6 left-wthree-img text-righ">
                        <div class="position-relative">
                            <img src="~/hotels-starter/assets/images/videobg.jpg" alt="" class="img-fluid" />
                            <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                                <span class="video-play-icon">
                                    <span class="fa fa-play"></span>
                                </span>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://player.vimeo.com/video/246941769" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self">
                        <h6>MasMavi Denizi Ve Sessiz Sakin Koylarıyla Mavikent'i Keşfedin!</h6>
                        <h3 class="title-big">20 Yıllık Misafirlik Kültürümüzle Tanışın.</h3>
                        <p class="mt-3">
                            Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                            ultrices in ligula. Semper at tempufddfel.
                        </p>
                        <ul class="w3l-right-book mt-4">
                            <li><span class="fa fa-check" aria-hidden="true"></span>Müşter Memnuniyeti Odaklı Hizmetler</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>7/24 Açık Servis Hizmeti</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Wi-Fi İnternet Ve Barbekü Hizmeti</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Otopark Ve Ulaşım Hizmetleri</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>havalimanı Transfer Hizmeti</li>
                        </ul>
                        <a href="/Rezervasyon/Index" class="btn btn-style btn-primary mt-4">Rezervasyon yap</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- quotation -->
    <div class="quotation py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="welcome-left text-center py-md-5 py-3">
                <h3>Çam Ormanları,Doğayla İç İçe Huzurlu Bir Villa Keyfini Bizimle Sürün..</h3>
                <a href="/Rezervasyon/Index" class="btn btn-style transparent-btn mt-sm-5 mt-4 mr-2">Rezervasyon Yap!</a>
                <a href="/iletisim/Index" class="btn btn-style btn-primary mt-sm-5 mt-4">Bize Ulaşın!</a>
            </div>
        </div>
    </div>
    <!-- //quotation -->

    <section class="w3l-logos py-5">
        <div class="container py-lg-3">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view">
                    <img src="~/hotels-starter/assets/images/logo1.jpg" alt="company-logo" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view">
                    <img src="~/hotels-starter/assets/images/logo2.jpg" alt="company-logo" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-sm-0 mt-4">
                    <img src="~/hotels-starter/assets/images/logo3.jpg" alt="company-logo" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-md-0 mt-4">
                    <img src="~/hotels-starter/assets/images/logo4.jpg" alt="company-logo" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-lg-0 mt-4">
                    <img src="~/hotels-starter/assets/images/logo2.jpg" alt="company-logo" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-lg-0 mt-4">
                    <img src="~/hotels-starter/assets/images/logo1.jpg" alt="company-logo" class="img-fluid" />
                </div>
            </div>
        </div>
    </section> 
</body>

</html>

